<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <span>Campeonatos</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/time/listar">
        <div class="time">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Times </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/time/cadastrar">
        <div class="time">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Times </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/campeonato/listar">
        <div class="time">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Campeonatos </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/campeonato/cadastrar">
        <div class="time">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Campeonatos </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/confronto/listar">
        <div class="time">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Confrontos </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/confronto/cadastrar">
        <div class="time">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Confronto </span>
        </div>
      </a>
    </mat-nav-list>
    <!-- <a routerLink="/pages/produto/cadastrar"> Cadastrar </a> -->
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
